<header>
    <div class="center">
        <h1>Berzabò… e le Vacanze</h1>
        <p>Agenzia viaggi e turismo: Tour Operator, viaggi su misura, tour di gruppo e individuali, viaggi di
            nozze, anniversari, laurea, compleanni e alberghi ecc...
        </p>
        <img src="/img/ezgif.com-webp-to-jpg.jpg" style="width: 1000px;">
            <p>Agenzia viaggi e turismo: Tour Operator, viaggi su misura, tour di gruppo e individuali, viaggi di
            nozze, anniversari, laurea, compleanni e alberghi ecc...
        </p>
    </div>
    
</header>